<app-template-full-width [title]="myTitle">
  <!--<button (click)="changeTitle()">
    changer titre
  </button>-->
  <app-table-light *ngIf="clients | async as clients" [headers]="headers">
    <tr *ngFor="let client of clients">
      <td>{{client.name | uppercase}}</td>
      <td>{{client.totalCaHt | currency}}</td>
      <td>{{client.comment}}</td>
      <td [appState]="client.state">
        <!--comme ca des qu on est dans la boucle on recup la valeur du state dans le td -->
        <select (change)="changeState(client,$event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === client.state">
            {{state}}
          </option>

        </select>

      </td>
    </tr>
  </app-table-light>
  <app-btn label="add client" route="add"></app-btn>
</app-template-full-width>
