<header class="fixed-top">
  <span (click)="toggle()">
    <!--span pour englober le ng-content pour y attribuer la fonction toggle-->
    <ng-container *ngIf="close;then contenuOK else contenuKO"></ng-container>
    <ng-template #contenuOK>
      <ng-content select=".tr-open"></ng-content>
    </ng-template>
    <ng-template #contenuKO>
      <ng-content select=".tr-close"></ng-content>
    </ng-template>


  </span>
  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': close}">
  <!--le ngClass va permettre de definir si on attribut la classe close-aside grace au boolean close -->
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <ng-content select=".tr-content"></ng-content>
    </div>
    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>
  </div>
</main>
