<app-template-full-width [title]="myTitle">
  <!--<button (click)="changeTitle()">
    changer titre
  </button>-->
  <app-table-light *ngIf="collections | async as collections" [headers]="headers">
    <tr *ngFor="let collection of collections">
      <td>{{collection.typePresta | uppercase}}</td>
      <td>{{collection.client}}</td>
      <td>{{collection.nbJours}}</td>
      <td>{{collection.tjmHt | currency}}</td>
      <td>{{collection.nbJours | total: collection.tjmHt | currency}}</td>
      <td>{{collection.nbJours | total: collection.tjmHt : collection.tva | currency}}</td>
      <td [appState]="collection.state">
        <!--comme ca des qu on est dans la boucle on recup la valeur du state dans le td -->
        <select (change)="changeState(collection,$event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === collection.state">
            {{state}}
          </option>
        </select>
      </td>
      <td>

        <span (click)="editer(collection.id)">
          <app-icon-edit class="tr-edit"></app-icon-edit>
        </span>
      </td>
      <td>

        <span (click)="delete(collection)">
          <app-icon-delete class="tr-delete"></app-icon-delete>
        </span>
      </td>
    </tr>
  </app-table-light>
  <app-btn label="add order" route="add"></app-btn>
</app-template-full-width>
